:root {
    --primary-color: #20998b;
    --secondary-color: #390b4d;
    --tertiary-color: #72a878;

}

* {
    font-family: Helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    background-color: white;
}

a { 
    color: var(--secondary-color);
    font-size: 20px;
}

section {
    padding: 30px 0px 0px 10px;
    display: flex; 
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

section ul li {
    padding: 20px;
    list-style: none;
}


/* header styles */
header {
    margin: auto 0;
    padding: 20px 0 10px 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 30px;
}

header div {
    font-size: 30px;
    background-color: var(--secondary-color);
    padding-left: 50px;
    flex: 0 0 auto;
}

header h1 a {   
    font-weight: bold;
    color: var(--primary-color);
}

header nav {
    margin: auto 50px;
    margin-right: 70px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    flex: 0 0 auto;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 5px;
    font-size: 20px;
    border-bottom: 3px solid var(--secondary-color);
}

/* end header styles */

/* footer style */

/* footer {
    padding: 50px;
    display: flex;    
} */



/* hero style */
.hero {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 7%;
}

.hero h2 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 20px 20px 0 20px;
    flex: 0 0 auto;
}

/* hero style */

/* label styles */

.label {
    width: 20%;
    font-size: 40px;
    text-align: right;
    border-right: 5px solid var(--secondary-color);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}


/* about me style */
.about-me {
    display: flex;
    flex-wrap: wrap;
}

/* general content style */

.content {
    text-align: left;
    margin: auto auto auto 2%;
    flex: 0 0 70%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.content p {
    padding-right: 50px;
}

/* content a {
    width: 50%;
} */

/* project link/images style */
.pink-project {
    /* flex: 0 0 80%;
    padding: 10px; */
    
    background-image: url(../images/primary-project.jpg);
    background-color: rgba(255,0,0, .5);
    background-position: center;
    background-size: cover;
    padding: 200px;
    margin: 2px;
    border: 5px solid var(--secondary-color);
    position: relative;
    display: flex;
    flex: 0 1 1000px;
    flex-wrap: wrap;
    opacity: 0.7;
    
}

.pink-project:hover {
    transition: all .5s ease-in-out;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    opacity: 1.0;
}


.blue-project {
    /* flex: 1 0 20%;
    margin: 2px 2px 0 0;
    padding: 10px; */
    background-image: url(../images/project2.jpg);
    background-position: center;
    background-size: cover;
    padding: 142.5px;
    border: 5px solid var(--secondary-color);
    position: relative;
    flex: 0 0 499px;
    height: 200px;
    margin: 2px;
    display: inline-block;
    opacity: 0.7;
}

.blue-project:hover {
    transition: all .5s ease-in-out;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    opacity: 1.0;
}

/* .primary-project {
    background-image: url(../images/primary-project.jpg);
    background-position: center;
    background-size: cover;
    padding: 30%;
    position: relative;
    display: flex;
    flex: 0 0 100%;
    width: 100;
    flex-wrap: wrap;
} */

/* .project2 { */
    /*  */
/* } */

.green-project {
    background-image: url(../images/project3.jpg);
    background-position: center;
    background-size: cover;
    padding: 142.5px;
    border: 5px solid var(--secondary-color);
    position: relative;
    flex: 0 0 499px;
    height: 200px;
    margin: 2px 2px 2px 0;
    display: inline-block;
    opacity: 0.7;
}

.green-project:hover {
    transition: all .5s ease-in-out;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    opacity: 1.0;
}
   
.seo {
    background-image: url(../images/horiseon.jpg);
    background-position: center;
    background-size: cover;
    padding: 142.5px;
    border: 5px solid var(--secondary-color);
    position: relative;
    flex: 0 0 499px;
    height: 200px;
    margin: 2px;
    display: inline-block;
    opacity: 0.7;
}

.seo:hover {
    transition: all .5s ease-in-out;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    opacity: 1.0;
}

.run-buddy {
    background-image: url(../images/run-buddy.jpg);
    background-position: center;
    background-size: cover;
    padding: 142.5px;
    border: 5px solid var(--secondary-color);
    position: relative;
    flex: 0 0 499px;
    height: 200px;
    margin: 2px 2px 2px 0;
    display: inline-block;
    opacity: 0.7;
}

.run-buddy:hover {
    transition: all .5s ease-in-out;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    opacity: 1.0;
}

/* project title styles */
.primary-project-title {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding-left: 10%;
    position: absolute;
    left: 0;
    bottom: 20%;
    opacity: 2;
}

.primary-project-title h1 {
    text-decoration: none;
    font-size: 2.5vw;
}

.project-title {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding-left: 20px;
    position: absolute;
    left: 0;
    bottom: 20%;
}

.project-title h1 {
    text-decoration: none;
    font-size: 1.5vw;
}


/* media queries */
@media screen and (max-width:980px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        
    }

    header div {
        padding: 0;
    }

    header h1 {
        padding: 0;
    }

    header a {
        padding: 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        list-style: none;
        flex: 0 0 auto;
    }
    
    header nav ul li a {
        padding: 10px 15px;
        margin: 5px;
        font-size: 20px;
        border-bottom: 3px solid var(--secondary-color);
    }

    .label {
        width: 10%;
        font-size: 2vw;
    }

    .pink-project {
        margin: 2px auto;
    }
    
    .blue-project {
        flex: 0 0 100%;
        margin: 2px auto;
    }

    .green-project {
        flex: 0 0 100%;
        margin: 2px auto;
    }
    
    .seo {
        flex: 0 0 100%;
        margin: 2px auto;
    }

    .run-buddy {
        flex: 0 0 100%;
        margin: 2px auto;
    }

    .project-title {
        padding-left: 10%;
        position: absolute;
        left: 0;
        bottom: 20%;
        opacity: 1;
    }
    
    .project-title h1 {
        text-decoration: none;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 768px) {

        header {
            justify-content: center;
            padding: 20px
        }

        header div {
            background-color: var(--primary-color);
            margin: auto;
            text-align: center;
        }

        header h1 a {
            color: var(--secondary-color);
            
        }

        header nav {
            justify-content: center;
            margin: auto;
        }

        header nav ul li a {
            font-size: 2vw;
        }

        .hero {
            background-image: url(../images/hero.jpg);
            background-size: cover;
            background-position: 80%;
            background-attachment: fixed;
        }

        .hero h2 {
            background-image: url(../images/hero.jpg);
            background-size: cover;
            background-position: 80%;
            background-attachment: fixed;
            text-shadow: 1px 1px 1px var(--secondary-color);
            font-size: 20px;
        }

        section {
            flex-direction: column;
            justify-content: center;
        } 

        /* STOPPED HERE  */
        .label {
            width: 100%;
            font-size: 2vw;
            text-align: center;
            border-bottom: 2px solid var(--secondary-color);
            border-right: 0px;
            padding: 10px;
            justify-content: center;
            align-items: center;
        }

        .content {
            width: 70%;
            text-align: center;
            margin: auto;
            font-size: 1.7vw;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        
        .content p {
            width: 100%;
            margin: 5px;
            padding: 10px;

        }

}